.group-sidebar {
    position: relative;
    width: 30%; 
    height: 100vh;
    background-color: white; 
    padding: 20px;
    display: flex;
    flex-direction: column;
    
}

.group-list {
    list-style: none;
    padding: 0;
    margin: 0;
    flex: 1;
    overflow-y: auto;
    max-height: calc(100vh - 60px); 
    margin-bottom: 1.5rem;
}

.group-list li {
    display: flex;
    align-items: center;
    padding: 0.5rem;
    cursor: pointer;
}

.group-icon {
    background-color: #6200ea;
    color: white;
    font-weight: bold;
    padding: 2px;
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    margin-right: 10px;
    font-size: 16px;
}


.group-list::-webkit-scrollbar {
    width: 6px;
}

.group-list::-webkit-scrollbar-track {
    background-color: #888;
}
.group-list::-webkit-scrollbar-thumb {
    background: #f1f1f1; 
    border-radius: 10px;
}

.group-list::-webkit-scrollbar-thumb:hover {
    background: #555; 
}